
<%= form_for @spot do |f| %>
  <div class="box">
  <div class="logcontainer">
      <p class="title">投稿フォーム</p>


      <div class="field">
        <%= f.label :場所 %><br>
        <%= f.text_field :name, :size => 30 %>
      </div>
    
      <div class="field">
        <%= f.label :特徴  %><br>
        <%= f.text_area :chara, :size => "30x2" %>
      </div>
      <div class="field">
      <%= f.label :行き方  %><br>
      <%= f.text_area :access, :size => "30x2" %>
    </div>

    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    </div>

      <%= f.select :place, [["東北","東北"], ["関東", "関東"], ["中部", "中部"],["近畿","近畿"], ["中国","中国"],["四国","四国"],["九州","九州"] ], include_blank: "どの地方？" %>
        <div class="actions">
          <%= f.label :lat,"緯度" %>
          <%= f.text_field :lat,:value =>"緯度", id: :lat %><br>
          <%= f.label :lng,"経度" %>
          <%= f.text_field :lng,:value =>"経度", id: :lng %><br>
        </div>
  </div>
  <div class="mapcontainer">
  
      <h2>Map</h2>
      
      <input id="address" type="textbox" value="GeekSalon">
      <input type="button" value="検索" onclick="codeAddress()">
      <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
      <div id='map'></div>
  </div>
  <%= f.submit "投稿する" %>
  </div>
  <style>
  #map {
    height: 600px;
    width: 600px;
  }
  </style>
  
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: 35.6803997, lng:139.7690174},  //東京
      zoom: 15,
      
    });
  }
  
  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true	// ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat').value = results[0].geometry.location.lat();
          document.getElementById('lng').value = results[0].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEmGsMk4t-NkJs-VCBPNnMYZ9awST1HAY&callback=initMap" async defer></script>

<% end %>
<div class="new_bottom">
<%= link_to "一覧に戻る", spots_path %>
</div>

  